<header class="steg-header">
  <div class="container">
    <div class="main-header">
      <!-- Logo -->
      <div class="header-left">
        <a routerLink="/" class="logo">
          <img src="/src/assets/images/steglogo.jpg" alt="STEG Logo" />
        </a>
        <nav class="nav-menu">
          <ul class="main-menu">
            <li class="dropdown">
              <a href="#">Home</a>
              <ul class="submenu">
                <li><a href="#">Home 1</a></li>
                <li><a href="#">Home 2</a></li>
                <li><a href="#">Home 3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">Jobs</a>
              <ul class="submenu">
                <li><a href="#">Job Grid</a></li>
                <li><a href="#">Job List</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">Candidates</a>
              <ul class="submenu">
                <li><a href="#">Candidate Grid</a></li>
                <li><a href="#">Candidate List</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <!-- Right Side -->
      <div class="header-right">
        <a routerLink="/login" class="btn-signin">Sign in</a>
      </div>
    </div>
  </div>
</header>
